/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #fff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 24px;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255,255,255,.6);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(255,255,255,.6);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(255,255,255,.6);
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

li {
  list-style-type: none;
}

.category {
  cursor: pointer;
}
a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #ddd;
}
h2 {
  font-weight: normal;
  margin-top: 0
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

.content {
  position: relative;
  display: flex;
  height: 100vh;
  justify-content: space-between;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}


/* Sidebar */
.sidebar {
  padding: 40px;
  max-width: 300px;
}
ul {
  /*font-weight: bold;*/
  list-style-type: none;
  padding: 0;
  transition: max-height 0.2s ease-out;
  max-height: 0;
  overflow: hidden;
  margin: 0 0 0 50px;
}
.collab {
  color: #fff;
  position: absolute;
  bottom: 40px;
  left: 40px;
  z-index: 1;
}
.collab .bg {
  top: -20px;
  left: -45px;
  width: 250px;
}
.collab svg {
  margin-left: 10px;
}
.collab .popup {
  display: block;
  position: absolute;
  top: -150px;
  left: -40px;
  width: 200px;
  height: 100px;
  border: 2px solid black;
  background-color: #fff;
  color: #444;
  padding: 10px 10px 10px 40px;
  overflow: hidden;
  transition: width .2s, padding .2s;
}
.collab .popup::after {
  content: '<';
  position: absolute;
  top: 50%;
  margin-top: -15px;
  left: 0;
  height: 30px;
  width: 30px;
  color: #444;
  background: #fff;
  border-radius: 30px;
  text-align: center;
  line-height: 30px;
}
.collab .popup.active {
  width: 0;
  padding: 10px 15px;
  color: transparent;
}
.collab .popup.active::after {
  content: '>';
}


/* Grid */
.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  height: 100%;
  max-width: 1000px;
}
.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  overflow: auto;
}
.grid .item {
  position: relative;
  margin: 1.66vh 40px;
  max-width: 200px;
  max-height: 200px;
  width: 30vh;
  height: 30vh;
}
.grid .item img,
.grid .item video {
  display: block;
  width: 100%;
  height: 100%;
}
.grid .item .hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .3s;
}
.grid .item .hover:hover {
  opacity: 1;
}

.modals {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  justify-content: center;
  align-items: center;
}
.modals.active {
  opacity: 1;
  z-index: 10;
}
.modals .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: rgba(0,0,0,.5)
}
.modal {
  position: absolute;
  display: flex;
  color: #444;
  opacity: 0;
  background-color: #fff;
  margin: 0 auto;
  max-width: 60%;
  max-height: 80%;
  overflow: auto;
  box-shadow: 0 0 8px 4px rgba(0,0,0,.2);
  z-index: -1;
}
.modal.active {
  opacity: 1;
  z-index: 1;
}
.modal .img-wrapper {
  position: relative;
  width: 400px;
}
.modal .img-wrapper img {
  width: inherit;
  max-width: inherit;
}
/*.modal .img-wrapper img + img {
  left: 0;
  position: absolute;
  opacity: 0;
  transition: .2s opacity;
}
.modal.show-packet .img-wrapper img + img {
  opacity: 1;
}*/
.modal .modal-content {
  padding: 20px;
}
.modal .btns {
  justify-content: space-around;
  display: flex;
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
  position: absolute;
  z-index: 1;
}
.modal:not(.show-packet) .jar-btn,
.modal.show-packet .packet-btn {
  border-bottom: 2px solid #444;
}
.modal a {
  color: #444;
}
.modal p {
  font-size: 16px;
  line-height: 24px;
}
.modal .buy-now-btn {
  color: #fff;
  position: relative;
}
.modal .buy-now-btn .bg {
  top: 55%;
  left: 50%;
  width: 150%;
  height: 80px;
  transform: translate(-50%, -50%);
}


.content .slick-dotted.slick-slider {
  margin-bottom: 0;
}
.content .slick-dots {
  overflow: initial;
  bottom: 50px;
}
.slick-prev {
  left: 25px !important;
  z-index: 1;
}
.slick-next {
  right: 25px !important;
  z-index: 1;
}

/* Background Video */
.desktop-video-bg-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.desktop-video-bg-container .desktop-video-bg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.right-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  width: 400px;
}
.logo img {
  width: 100%;
}

.mobile-menu-btn {
  display: none;
}
.nav-wrapper {
  max-height: initial;
  margin: 0;
}

/* Mailing List */
.mailing-list-container {
  padding: 0 40px 40px;
}
.mailing-list-container input[type=email] {
  color: #fff;
  height: 48px;
  width: 100%;
  margin-bottom: 20px;
  background-color: transparent;
  outline: none;
  border: 0;
  border-bottom: 2px solid #fff;
}
.mailing-list-container input[type=submit] {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  height: 48px;
  padding: 0 15px;
}
.mailing-list-container input[type=submit]:active {
  outline: none;
  margin-top: 1px;
}
.mc-field-group label {
  display: block;
}
.mailing-list-container #mc_embed_signup div.mce_inline_error {
  background-color: transparent;
  padding-left: 0;
  padding-right: 0;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 600px) {
  /* Style adjustments for viewports that meet the condition */
  .page-body .content {
    padding-bottom: 140px;
  }

  .content {
    flex-direction: column;
    padding-top: 100px;
    height: auto;
  }
  .content .mobile-menu-btn {
    display: flex;
    color: #000;
    float: right;
    margin-right: 20px;
    height: 50px;
    align-items: center;
  }
  .content .nav-wrapper {
    position: absolute;
    top: 90px;
    right: 0;
    left: 0;
    max-height: 0;
    margin: 0;
    padding: 0 20px;
    color: #444;
  }
  .content .nav-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #E5CA01;
    z-index: -1;
  }
  .content .nav-wrapper li > a {
    color: #444;
  }
  .content .nav-wrapper > :last-child {
    margin-bottom: 10px;
  }
  .content .right-container {
    min-height: calc(100vh - 90px)
  }

  .grid-container {
    height: auto;
    align-items: initial;
  }

  .desktop-video-bg-container {
    position: fixed;
  }

  .sidebar {
    display: block;
    background-color: #E5CA01;
    padding: 20px 0;
    height: 50px;
    max-width: initial;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
  .sidebar .logo {
    position: absolute;
    color: #ff00ea;
    margin-left: 20px;
    width: auto;
    max-width: 60%;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
  }
  .sidebar .logo img {
    width: auto;
    display: inline-block;
  }
  .sidebar a {
    color: #444;
  }

  .logo {
    max-width: 100%;
  }

  .modal {
    max-width: 80%;
    flex-direction: column;
  }
  .modal .img-wrapper {
    max-width: 100%;
  }

  .collab {
    left: 50%;
    transform: translateX(-50%);
  }

  .hide-on-mobile {
    display: none !important;
  }
}

@media only screen and (min-width: 601px) {
  .hide-on-desktop {
    display: none;
  }
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

